$color: white;
$bg-color-primary: #444;
$bg-color-secondary: #555;

.brush-palette {
  background: $bg-color-secondary;
  // border: 0.2em solid #fff;

  color: $color;

  padding: 0.5em 1em 0.25em;
  width: 25%;

  text-align: center;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  p {
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 900px) {
    padding: 0.4em 0.8em 0.2em;
    font-size: 0.9rem;
  }

  @media (max-width: 650px) {
    font-size: 0.75rem;
    padding: 0;
  }
}

.slider {
  -webkit-appearance: none;
  width: 20vw;
  height: 1.35rem;
  background: #afafaf;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  @media (max-width: 900px) {
    height: 1.2rem;
  }

  @media (max-width: 650px) {
    height: 1.35rem;
  }

  @media (max-width: 550px) {
    height: 1.65rem;
    width: 30vw;
  }

  @media (max-width: 450px) {
    height: 1.45rem;
    width: 34vw;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  background-color: rgba(150, 50, 255, 1);

  &:hover {
    color: #fff;
    filter: hue-rotate(-20deg);
  }

  @media (max-width: 900px) {
    width: 1.3rem;
    height: 1.3rem;
  }
  @media (max-width: 650px) {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media (max-width: 550px) {
    width: 1.75rem;
    height: 1.75rem;
  }

  @media (max-width: 450px) {
    width: 1.6rem;
    height: 1.6rem;
  }
}
