$color: white;
$bg-color-primary: #444;
$bg-color-secondary: #555;

.brush-palette {
  background: $bg-color-secondary;
  color: $color;

  padding: 0.5em 1em 0.25em;
  width: 25%;

  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  order: 2;

  p {
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 900px) {
    padding: 0.4em 0.8em 0.2em;
    font-size: 0.9rem;
  }

  @media (max-width: 700px) {
    padding: 0;
  }

  @media (max-width: 600px) {
    flex-grow: 1;

    align-content: flex-end;
    align-items: flex-end;

    height: 50%;
    width: 50%;
    margin-right: 1.2rem;
  }

  @media (max-width: 500px) {
    margin-right: 0.75rem;
  }
}

.slider {
  -webkit-appearance: none;
  width: 20vw;
  height: 1.35rem;
  background: #afafaf;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  @media (max-width: 900px) {
    width: 26vw;
  }

  @media (max-width: 700px) {
    height: 1.65rem;
  }

  @media (max-width: 600px) {
    height: 4.5vh;
    width: 28vw;
  }

  @media (max-width: 450px) {
    height: 4.5vh;
    width: 32vw;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  background-color: rgba(150, 50, 255, 1);

  &:hover {
    color: #fff;
    filter: hue-rotate(-20deg);
  }

  @media (max-width: 700px) {
    width: 1.85rem;
    height: 1.85rem;
  }

  @media (max-width: 600px) {
    height: 5vh;
    width: 5vh;
  }
}
