/* BUTTON AND CLEAR BUTTON */
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  order: 2;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  @media (max-width: 600px) {
    flex-grow: 1;

    padding: 0.5em 0;
    align-items: flex-end;

    height: 50%;
    width: 50%;

    margin-right: 1.2rem;
  }

  @media (max-width: 500px) {
    margin-right: 0.75rem;
  }
}

.my-button {
  color: #fff;
  background-color: rgba(150, 50, 255, 1);
  border-radius: 0.12em;

  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto';
  line-height: 5vh;

  height: 5vh;
  margin: 0 0.6em;
  padding: 0 0.5em;

  border-top: 0.25rem solid rgb(161, 72, 255);

  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  position: relative;

  display: block;
  cursor: pointer;

  transition: filter 0.3s ease-in-out;

  &:hover {
    color: #fff;
    filter: hue-rotate(-20deg);
  }

  @media (max-width: 1370px) {
    line-height: 6vh;
    height: 6vh;
  }

  @media (max-width: 900px) {
    margin: 0.15em 0;
    height: 6vh;
    line-height: 6vh;
    border: none;
  }

  @media (max-width: 700px) {
    padding: 0.1em 0.5em;
    font-size: 1.1rem;
  }

  @media (max-width: 600px) {
    font-size: 1.1rem;
    height: 5vh;
    width: 28vw;
    line-height: 5vh;
  }

  @media (max-width: 450px) {
    width: 32vw;
  }
}

.word-part {
  @media (max-width: 500px) {
    display: none;
  }
}

/* ICONS */
#my-clear-icon {
  border-radius: 50%;
  // width: 6vh;
  height: 6vh;
  margin: 0.1rem;

  @media (max-width: 700px) {
    display: none;
    &::before {
      content: '';
      display: none;
    }
  }
}

#my-save-icon {
  border-radius: 50%;
  height: 6vh;
  margin: 0.1rem;

  @media (max-width: 700px) {
    display: none;

    &::before {
      content: '';
      display: none;
    }
  }
}
