.color-palette {
  width: 22vw;
  height: 9vh;

  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  order: 1;

  border: 0.1rem solid #444;
  border-radius: 0.12rem;

  margin: 0 0.6em;
  padding: 0;

  @media (max-width: 1050px) {
    width: 28vw;
  }

  @media (max-width: 900px) {
    width: 32vw;
    margin: 0;
  }

  @media (max-width: 700px) {
    width: 36vw;
  }

  @media (max-width: 650px) {
    border: none;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0.5em 0;

    height: 100%;
    width: 50%;

    flex-grow: 0;
  }

  @media (max-width: 500px) {
    align-content: space-around;
    padding: 1em 0;
  }

  @media (max-width: 400px) {
    align-content: space-around;
    justify-content: space-between;
    padding: 1em 0;
  }
}

.color {
  height: 1.5rem;
  width: 1.5rem;

  max-height: 1.7rem;
  max-width: 1.7rem;

  margin: 0.5em;

  border-radius: 0.12rem;
  cursor: pointer;
  border: 0.1rem solid rgba(10, 10, 10, 0.1);

  transition: transform 0.2s ease-in-out;

  @media (min-width: 900px) {
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__label {
    text-decoration: none;
    list-style: none;
  }

  @media (max-width: 650px) {
    padding: 0.8em;
  }

  @media (max-width: 600px) {
    padding: 2.1em;
    margin: 0.2rem;
  }

  @media (max-width: 500px) {
    padding: 1.8em;
    margin: 0.2rem;
  }

  @media (max-width: 450px) {
    padding: 1.6em;
    margin: 0.2rem;
  }

  @media (max-width: 400px) {
    padding: 1.4em;
    margin: 0.15rem;
  }
}

.color--picked {
  height: 1.5rem;
  width: 1.5rem;

  cursor: pointer;
  border: 0.1rem solid #fff;

  @media (min-width: 900px) {
    transform: scale(1.2, 1.2);
    margin: 0.5em;

    border-radius: 0.12rem;
  }
}
