@import './user-interface.scss';
@import './color-palette.scss';
@import './brush-palette.scss';
@import './buttons.scss';
@import './canvas.scss';

$color: white;
$bg-color-primary: #444;
$bg-color-secondary: #555;

html,
body,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.app {
  background: $bg-color-primary;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Light';
  text-transform: uppercase;
}

.appVersion {
  display: none;
  position: absolute;
  background: yellow;
  white-space: pre-wrap;
}
